title: James Muirhead
description: Game developer portfolio and blog.

# PROJECT SITE config:
url: https://jamesmuirhead.github.io
baseurl: "/portfolio"   # e.g. "/portfolio"

markdown: kramdown

# Pretty URLs for posts under /blog/
collections:
  projects:
    output: true
    permalink: /projects/:name/
  posts:
    output: true
    permalink: /blog/:title/

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: project
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: ""
    values:
      layout: page

encoding: "utf-8"

